.help-button {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #ffffff00;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .fa-circle-question {
    color: #272e4f;
    cursor: pointer;
  }
  
  .help-button:hover {
    background-color: #f0f0f0;
    transform: scale(1.1);
  }