.employees-loan-box {
  display: flex;
  width: 1031px;
  gap: 15px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.employees-content {
  height: 700px;
  margin-top: 20px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgba(39, 46, 79, 1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.employees-search-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.status-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.status-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #ddd;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}

.status-button:hover {
  background-color: #272e4f;
  color: white;
}

.status-button.active {
  background-color: #272e4f;
  color: white;
  cursor: default;
}

.status-button.active:hover {
  background-color: #272e4f;
  color: white;
}
.add-employee-button {
  padding: 10px 20px;

  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.add-employee-button:hover {
  background-color: #45a049;
}
.filter-add-employee {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
@media (max-width: 1024px) {
  .employees-loan-box {
    width: 100%;
  }
}
