* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-layout {
  display: flex;
  height: 100vh;
  transition: margin-left 0.3s ease;
}

.sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f4f4f4;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  transition: transform 0.3s ease;
  z-index: 100;
}

.menu-icon {
  width: 20px;
  height: 20px;
}

.menu-name {
  transition: margin-left 0.3s ease;
}

.sidebar-hidden .sidebar {
  width: 60px;
}

.sidebar-hidden .menu-name {
  display: none;
}

.sidebar-hidden .main-logo {
  display: none;
}

.sidebar-hidden .content-area {
  margin-left: 50px;
}

.sidebar .overlay {
  background-color: #969393;
}

.content-area {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 250px;
  transition: margin-left 0.3s ease;
}

.toggle-sidebar-btn {
  display: none;
  position: fixed;
  top: 20px;
  left: 260px;
  background-color: #ff5e3a;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  z-index: 1000;
  transition: left 0.3s ease;
}

.sidebar-hidden .toggle-sidebar-btn {
  left: 70px;
}

.main-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 50px 10px 0px;
  font-family: "Jacques Francois";
  font-size: 3em;
  color: #ff5e3a;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: flex;
  align-items: center;
  padding: 0 20px;
  font-size: 16px;
  height: 50px;
  width: auto;
}

nav ul li.active {
  background-color: #272e4f;
}

nav ul li:not(.active):hover {
  background-color: #272e4fe6;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 20px;
}

nav ul li.active a {
  color: #ffffff;
}

nav ul li:hover a {
  color: #ffffff;
}

.main-layout-divider {
  border: none;
  border-top: 1px solid #ddd;
  margin: 20px 0;
}

.content-area {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.main-layout-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f4f4f4;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px 0;
}

.main-content {
  display: flex;
  flex: 1;
}

.middle-content {
  flex: 2;
  padding: 20px;
  overflow-y: auto;
}

.middle-content {
  font-size: 12px;
}

.right-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.current-page {
  display: flex;
  margin-left: 50px;
}

.user-account-toolbar {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.language-box-main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.total-amount-borrowed1 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-right: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Arial, sans-serif;
  background-color: rgba(39, 46, 79, 1);
  color: #f2f2f0;
}

.total-amount-borrowed2 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-right: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Arial, sans-serif;
  background-color: #f2f2f0;
}

.total-amount-borrowed1,
.total-amount-borrowed2 {
  flex: 1;
  margin: 10px 0;
}

.hight-light {
  color: rgba(255, 94, 58, 1);
  font-weight: 700;
}

.realtime-container {
  display: flex;
  align-items: center;
  background-color: #f4f5fa;
  color: #f4f4f4;
  border: 1px solid #d1d5db;
  border-radius: 8px 8px 0 0;
  padding: 8px 12px;
  font-size: 0.9rem;
  font-weight: 500;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  box-sizing: border-box;
  bottom: 0;
  width: 250px;
  z-index: 1000;
}

.fa-calendar-day {
  margin-right: 8px;
  color: #2f3a5f;
}

.realtime-day {
  display: block;
  font-size: 0.9rem;
  color: #2f3a5f;
}

.realtime-time {
  display: block;
  font-size: 0.8rem;
  color: #2f3a5f;
}

.sidebar-hidden .realtime-container {
  display: flex;
  padding: 20px 13px;
  width: auto;
}

.sidebar-hidden .realtime-content {
  display: none;
}
/* Submenu styles */
.submenu {
  list-style-type: none;
  padding-left: 20px; /* Indent the submenu */
}

.submenu .menu-item {
  padding-left: 20px; /* Further indent the submenu items */
}
.submenu .menu-item.active {
  background-color: #272e4f;
  color: #ffffff;
}

/* Active state for parent menu item when a submenu item is active */
.menu-item.active > .submenu {
  display: block;
}

.menu-item.active > a {
  color: #ffffff;
}
@media (max-width: 1024px) {
  .toggle-sidebar-btn {
    display: block;
  }
  .chart-container {
    margin-top: 20px;
  }
}

/* Media query for phones (up to 768px) */
@media (max-width: 768px) {
}

