.main-layout {
  display: flex;
  height: 100vh;
  margin-left: 250px; /* Thêm khoảng trống tương ứng với chiều rộng của sidebar */
}

.sidebar {
  width: 250px;
  height: 100vh; /* Đặt chiều cao thành 100% chiều cao của viewport */
  position: fixed; /* Đặt sidebar ở vị trí cố định */
  top: 0;
  left: 0;
  background-color: #f4f4f4;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto; /* Thêm thanh cuộn dọc nếu nội dung vượt quá chiều cao */
}

.main-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 50px 10px 0px;
  font-family: "Jacques Francois";
  font-size: 3em;
  color: #ff5e3a;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  padding:  15px 20px;
}

nav ul li.active {
  background-color: #272e4f; 
}
nav ul li:not(.active):hover {
  background-color: #272e4fe6 ; 
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 20px;
}

nav ul li.active a {
  color: #ffffff; 
}
nav ul li:hover a{
  color: #ffffff;
}

.divider {
  border: none;
  border-top: 1px solid #ddd;
  margin: 20px 0;
}

.content-area {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f4f4f4;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px 0;
}

.main-content {
  display: flex;
  flex: 1;
}

.middle-content {
  flex: 2;
  padding: 20px;
  overflow-y: auto;
}

.right-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.current-page {
  display: flex;
  margin-left: 50px;
}
.user-account-toolbar {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.language-box-main {
  display: flex;
  align-items: center;
  justify-content: center;
}

