* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  user-select: none;
}
.cart-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart {
  color: #ffffff;
  cursor: pointer;
  margin: 0 20px;
  position: relative;
}
.cart-value {
  background-color: #e67300;
  border-radius: 100%;
  font-weight: 750;
  font-size: 11px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -10px;
  right: 35%;
  user-select: none;
}


.off {
  display: none;
}

.navigation {
  display: flex;
  overflow: hidden;
  background-color: #ff9933;
  justify-content: space-between;
  align-items: center;
  padding: 0 290px;
}

.nav-box {
  display: flex;
}

.btn-box {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.nav-btn {
  display: flex;
  color: white;
  padding: 16px 0;
  text-decoration: none;
  justify-content: center;
  width: 100px;
  background: none;
  border: none;
  cursor: pointer;
}

.nav-btn:hover:not(.active) {
  background-color: #bd6712;
}

.active {
  background-color: #e67300;
}

.brand {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
}

.label {
  position: static;
  font-size: 15px;
  padding: 0 10px;
  font-weight: 500;

.logo {
  width: 60px;
  padding: 0 10px;
}

@media (max-width: 740px) {
  .navigation {
    padding: 0;
    justify-content: center;
  }
  .label {
    display: none;
  }
}

@media (min-width: 740px) and (max-width: 1024px) {
  .navigation {
    padding: 0 120px;
  }
}

@media (min-width: 1024px) and (max-width: 1920px) {
}

h1 {
  position: relative;
  text-align: center;
  padding-top: 20px;
}