/* furniture.style.css */

.item-list-box {
  display: flex;
  margin: 20px auto;
  border-radius: 15px;
  width: 1200px;
  justify-content: center;
}
.item-list {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  width: 1160px;
  gap: 20px;
}

.item {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  width: 270px;
  height: auto;
  text-align: center;
  overflow: hidden;
  gap: 10px;
}

.item img {
  width: 200px;
  height: 250px;
  border-radius: 8px;
  cursor: pointer;
  object-fit: cover;
}

.item h2 {
  font-size: 26px;
}

.item p {
  font-size: 1.2em;
  color: #555;
}
.btn-product {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -100px; /* Start position */
  transition: bottom 0.3s ease-in-out;
  gap: 10px;
  flex-direction: column;
}
.item:hover .btn-product {
  bottom: 50%; /* End position */
  display: flex;
}
.item:hover {
  background-color: #00000017;
  transition: all 0.3s;
}
.add-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff9933;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 15px 20px;
  cursor: pointer;
  transition: all 0.2s;
}
.add-btn:hover {
  background-color: #e67300;
}
.detail-btn {
  display: flex;
  justify-content: center;

  align-items: center;
  background-color: #ff9933;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 15px 20px;
  cursor: pointer;
  transition: all 0.2s;
}
.detail-btn:hover {
  background-color: #e67300;
}
@media (max-width: 740px) {
  .item {
    width: calc(50% - 20px);
  }
  .item h2 {
    font-size: 1em;
  }
  .item p {
    font-size: 0.7em;
  }
  .item-list-box {
    width: auto;
    margin: 10px 20px;
  }
  .item-list {
    margin: 10px 5px;
  }
  .item img {
    width: 120px;
    height: 70px;
  }
}
@media (min-width: 740px) and (max-width: 1024px) {
  .item-list-box {
    width: auto;
    margin: 0 20px;
  }
  .item {
    width: calc(33% - 20px);
  }
  .item img {
    width: 170px;
    height: 100px;
  }
}
.Product-list-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}
.filter-product{
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.type-select {
  margin: 5px 0;
  display: flex;
  gap: 5px;
}
.product-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.pagi-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
}
.pagination {
  display: flex;
  list-style-type: none;
  gap: 3px;
  justify-content: center;
  padding: 10px;
  font-size: 20px;
  font-weight: lighter;
}
.pageButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 4px;
  font-weight: 300;
  cursor: pointer;
}
.pageButton:hover {
  background-color: #d4d4d47e;
  transition: all 0.3s;
}
.activeButton {
  background-color: #000000 !important;
  color: #fff;
}
/* .activeButton:hover {

} */
.disableButton {
  color: #ddd;
  cursor: not-allowed;
}
.previousButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 35px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}
.nextButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 35px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}
.previousButton:hover {
  background-color: #d4d4d47e;
  transition: all 0.2;
}
.nextButton:hover {
  background-color: #d4d4d47e;
  transition: all 0.2;
}
/* src/components/PriceRangeSlider.css */

.price-range-slider {
  width: 80%;
  margin: 0 auto;
}

.horizontal-slider {
  width: 100%;
  height: 6px;
  background: #ddd;
  margin: 20px 0;
  border-radius: 3px;
}

.thumb {
  height: 20px;
  width: 20px;
  background-color: #000;
  border-radius: 50%;
  cursor: grab;
}

.thumb:focus {
  outline: none;
}

.track {
  background: #888;
  height: 6px;
}
