  * {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
  }
  .page-box {
    display: flex;
  }
  .show {
    display: block;
  }
  .hide {
    display: none;
  }
  .other-login {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 40px;
  }
  .login-option {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: bold;
    gap: 20px;
  }
  .login-img {
    width: 40px;
  }

  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  .name-birth {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }
  .email-phone {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }
  .field {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .address-gender{
    display: flex;
    flex-direction: row;
    gap: 100px;
    align-items: center;
  }
  .radio-group{
    display: flex;
    padding-top: 25px;
    flex-direction: row;
    gap: 20px;
  }
  .radio-option{
    display: flex;
    align-items:center;
    gap: 10px;
  }
  .capcha-input {
    display: flex;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 150px;
  }

  .forgot-password {
    display: flex;
    font-weight: bold;
    justify-content: center;
    margin-top: 10px;
    margin-left: auto;
  }
  .register {
    display: flex;
    font-weight: bold;
    justify-content: center;
  }
  .register-link {
    color: #ff9933;
    font-weight: bold;
    cursor: pointer;
  }
  .captcha-title {
    position: relative;
    top: -5px;
  }
  .divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 5px;
  }

  .divider::before,
  .divider::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #000;
  }

  .divider:not(:empty)::before {
    margin-right: 10px;
  }

  .divider:not(:empty)::after {
    margin-left: 10px;
  }

  .divider span {
    font-size: 16px;
    color: #333;
  }
