* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}
.off {
  display: none;
}
.navigation {
  display: flex;
  overflow: hidden;
  background-color: #ff9933;
  justify-content: space-between;
  align-items: center;
  padding: 0 290px;
}
.nav-box {
  display: flex;
}
.btn-box {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}
.nav-btn {
  display: flex;
  color: white;
  padding: 16px 0;
  text-decoration: none;
  justify-content: center;
  width: 100px;
  background: none;
  border: none;
  cursor: pointer;
}

.nav-btn:hover:not(.active) {
  background-color: #bd6712;
}

.active {
  background-color: #e67300;
}

.brand {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
}
.label {
  position: static;
  font-size: 15px;
  padding: 0 10px;
}
.logo {
  width: 60px;
  padding: 0 10px;
}
@media (max-width: 740px) {
  .navigation {
    padding: 0;
    justify-content: center;
  }
  .label {
    display: none;
  }
}
@media (min-width: 740px) and (max-width: 1024px) {
  .navigation {
    padding: 0 120px;
  }
}
@media (min-width: 1024px) and (max-width: 1920px) {
}
h1 {
  position: relative;
  text-align: center;
  padding-top: 20px;
}

.todobody {
  height: 100vh;
  background: linear-gradient(60deg, #e6ffff, #009999);
}
.todo {
  width: min(95vw, 31.25em);
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
}

.container {
  background-color: aliceblue;
  padding: 20px 20px;
  border-radius: 20px;
  box-shadow: -5px 5px 7px 1px black;
  margin-top: 20px;
}
#wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 8fr 4fr;
  gap: 1em;
}
#wrapper input {
  width: 100%;
  background-color: transparent;
  color: black;
  font-size: 0.9em;
  border: none;
  border-bottom: 2px solid #80dfff;
  padding: 0.5em 0.8em;
}
#wrapper input:focus {
  outline: none;
  border-color: #1ac6ff;
}
#wrapper button {
  position: relative;
  font-weight: 500;
  font-size: 1em;
  background-color: #80dfff;
  border-radius: 8px;
  border: none;
  outline: none;
  color: white;
  cursor: pointe r;
}
#error {
  text-align: center;
  background-color: white;
  color: red;
  margin-top: 20px;
  border-radius: 10px;
  border: none;
  padding: 10px;
  display: none;
}
#tasks {
  margin-top: 1em;
  border-radius: 0.5em;
  width: 100%;
  padding: 10px 0 10px 0;
  font-weight: bol;
}
.task {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 7fr 1fr 1fr;
  padding: 10px 10px 10px 1px;
  margin-top: 10p;
  border-radius: 10px;
  gap: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05);
  align-items: center;
  cursor: pointer;
}
@media (max-width: 740px) {
  .task {
    grid-template-columns: 1fr 35vw 1fr 1fr;
  }
}

.task:not(:first-child) {
  margin-top: 10px;
}
.task input[type="checkbox"] {
  position: relative;
  margin: 0 15px 0 15px;
  appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 2px solid rgb(196, 173, 173);
}
.task input[type="checkbox"]:before {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.task input[type="checkbox"]:checked {
  background-color: #80dfff;
  border: #80dfff;
}
.task input[type="checkbox"]:checked:before {
  position: absolute;
  content: "\f00c";
  color: white;
  font-size: 12px;
  font-family: "Font Awesome\ 5 Free";
  font-weight: 900;
}

.task span {
  font: 14px;
  font-weight: 400;
  word-break: break-all;
}
.task button {
  color: white;
  width: 100%;
  padding: 10px 0;
  border-radius: 20%;
  border: none;
  cursor: pointer;
  outline: none;
}
.edit-input {
  padding: 8px;
  border-radius: 10px;
  border: 1px solid gray;
}
.edit {
  background-color: #80dfff;
}
.delete {
  background-color: #ff8080;
}
#spending-tasks span {
  color: #80dfff;
}
.completed {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.39);
  font-style: italic;
}
.save {
  background: #62d82b;
}
/* } */
