.update-user-profile-button-box {
  display: flex;
gap:20px
}
.user-update-profile-cancel-button {
  display: flex;
  background-color: #ffffff;
  color: #272e4f;
  padding: 15px 40px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}
