/* General Profile Info Section */
.profile-info {
  display: flex;
  flex-direction: column;
}

/* Avatar Container with buttons */
.profile-avatar-container {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  padding: 0 80px 0 50px;
}

/* Avatar Section on the Left */
.profile-avatar-section {
  display: flex;
  justify-content: center;
}

.profile-avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #272e4f;
}

/* Buttons aligned vertically */
.profile-avatar-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.change-avatar-button {
  display: flex;
  background-color: #ffffff;
  color: #000000;
  padding: 10px 40px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid #272e4f;
}

.change-avatar-button:hover {
  background-color: #272e4f;
  color: #ffffff;
}

/* Profile Information Sections */
.profile-info-section {
  border-radius: 20px;
  padding: 0px 80px;
}

/* Section Title */
.profile-section-title {
  font-weight: bold;
  color: #272e4f;
  margin-bottom: 12px;
}

/* Profile Info Row for Grid Layout */
.profile-info-row {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns per row */
  gap: 16px;
  margin-bottom: 12px;
}

/* Full-width row for single-field sections like Address */
.profile-info-field-full {
  grid-column: span 2; /* Make this field span across two columns */
}

/* Individual Field Styling */
.profile-info-field {
  display: flex;
  flex-direction: column;
}

.profile-info-field label {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  margin-bottom: 7px;
}

/* Input Field Styling */
.profile-input {
  padding: 15px 10px;
  border: 1px solid #272e4f;
  border-radius: 20px;
  font-size: 12px;
  outline: none;
}

.profile-input-address {
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 20px;
}

/* Button Styling */
.update-profile-button {
  display: flex;
  background-color: #272e4f;
  color: #fff;
  padding: 15px 40px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  margin-left: auto;
}

/* Cropper Container */
.cropper-container {
  position: relative;
  width: 100%;
  max-width: 500px; /* Adjust the max-width as needed */
  height: 400px; /* Adjust the height as needed */
  margin: 0 auto;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
}

.crop-image-upload-button {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-size: 12px;
  cursor: pointer;
  background-color: #272e4f;
  color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.crop-image-upload-button:hover {
  background-color: #fff;
  color: #272e4f;
  border: 2px solid #272e4f;
}

.cropper-buttons {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  gap: 20px;
}

.cancel-crop-button {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-size: 12px;
  cursor: pointer;
  background-color: #ffffff;
  color: #272e4f;
}

/* Gender Text Styling */
.gender-text {
  color: #272e4f;
}

.radio-group {
  display: flex;
  flex-direction: row;
  padding-top: 15px;
  gap: 20px;
}

.radio-option {
  display: flex;
  gap: 10px;
}
.user-profile-btn-box {
  display: flex;
  align-items: center;
  width: 100%;
}
.non-editable {
  background-color: #f0f0f0; /* Light gray background */
  pointer-events: none;
}

@media (max-width: 1024px) {
  .profile-info-section {
    padding: 0px 40px; /* Adjust padding for tablet view */
  }
  .user-profile-btn-box {
    flex-direction: column;
    gap: 10px;
  }
}
