/* User.style.css */
.user-dropdown {
  display: flex;
  align-items: center;
  gap: 30px;
  cursor: pointer;
  position: relative;
}

.user-info-dropdown {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 20px;
}

.user-avatar-square {
  width: 40px;
  height: 40px;
  border-radius: 20%;
  border: 2px solid #272e4f;
  object-fit: cover;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.user-avatar-square:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.user-details {
  display: flex;
  flex-direction: column;
}

.user-name {
  font-weight: bold;
  font-size: 1em;
}

.user-role {
  font-size: 0.8em;
  color: gray;
  text-align: center;
}

.dropdown-arrow {
  width: 10px;
  height: 10px;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  transform: rotate(-45deg);
  transition: transform 0.2s;
}

.dropdown-arrow.open {
  transform: rotate(135deg);
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
  margin-top: 5px;
  z-index: 10;
}

.dropdown-item {
  padding: 10px 15px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}